body {
    margin: 0;
    font-family: arial;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.mySwiper {
    height: 625px;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: gray !important;
    /* будь-який колір, наприклад синій */
    /* розмір стрілок */
}

.categories-card .price {
    display: none;
}